* {
  padding: 0;
  margin: 0;
}
a {
  color: #c3c3c3;
}
/* 
  header
*/
#header {
  padding-bottom: 20px;
  border-bottom: solid #c3c3c3 1px;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}
ul {
  display: flex;
}
li {
  list-style: none;
  margin-left: 10px;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 200px;
}
.site_title {
  text-align: center;
  margin-top: 50px;
}
nav ul li {
  font-size: 10px;
}
/* 
  main
*/
body {
  font-size: 0.75rem;
}
main {
  display: flex;
  margin: 20px auto;
  justify-content: space-between;
}
.wrapper {
  max-width: 900px;
  margin-bottom: 100px;
}
main img {
  width: 50%;
  margin-right: 60px;
  height: 60%;
}
.text_zone h2 {
  padding: 20px 0 ;
  border-top: solid #c3c3c3 1px;
  border-bottom: solid #c3c3c3 1px;
}
.text_zone p {
  margin-top: 60px;
  line-height: 1.9;
}

/* 
  order form
*/
.order-table {
  width: 100%;
}
.order-table .color, .order-table .size, .order-table tbody tr td{
  text-align: center;
  border-right: solid #c3c3c3 1px;
  padding: 10px;
}
.order-table tbody tr td {
  border-top: solid #c3c3c3 1px;
  
}
.order-table tbody tr td:last-child{
  border-right: none;
}
.order-table select {
  width: 100%;
}
.submit_btn {
  background-color: #4B4B4B;
  color: #c3c3c3;
  text-align: center;
  width: 100%;
  border: none;
  padding: 20px 0;
  margin: 20px 0;
  
}
.order_info {
  text-align: center;
  width: 100%;
  border-collapse:collapse;
}
.order_info thead th {
  background-color: #c3c3c3;
  padding: 10px;
  border: solid #4B4B4B 1px;
}
.order_info tbody td {
  padding: 10px;
  border: solid #4B4B4B 1px;
}
.order_info tbody td:first-child {
  background-color: #c3c3c3;
}

/* 
  footer
*/
footer {
  text-align: center;
  margin-bottom: 10px;
}